SS_PORT_AKAMAI=8381
SOCKS_PORT_AKAMAI=1081

SS_PORT_AMAZON=8382
SOCKS_PORT_AMAZON=1082

SS_PORT_CF=8383
SOCKS_PORT_CF=1083

SS_PORT_GCORE=8384
SOCKS_PORT_GCORE=1084

SS_PORT_GOOGLE=8385
SOCKS_PORT_GOOGLE=1085

SS_PORT_OVH=8386
SOCKS_PORT_OVH=1086

SS_PASSWORD=SuperSecurePassword
SS_ENCRYPT_METHOD=chacha20-ietf-poly1305
SS_TIMEOUT=300